body{
    background-color: white;
    color: black;
}

.head1{
    text-align: center;
    padding: 20px;
    color: gold;
    background-color: black;
    /* border: 5px dashed ; */
}

.btn-set{
    display: flex;
    justify-content: center;
    margin: 26px 50px;
    gap: 90px;
    cursor: pointer;
}

.result{
    display: flex;
    justify-content: center;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-first{
    background-color: black;
    border: 2px dotted whitesmoke;
    color: gold ;
    border-radius: 3px;
    padding: 10px;
}

.btn-second{
        background-color: black;
        border: 2px dotted whitesmoke;
        color: gold ;
        border-radius: 3px;
        padding: 10px;
}

.center{
    padding-left: 0.5%;
}

.wrap{
    flex-wrap: wrap;
}

p{
    text-align: center;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}
